.text-react {
  color: #5ED3F3;
}

.text-html {
  color: #E54C21;
}

.text-bootstrap {
  color: #563D7C;
}

.text-angular {
  color: #DD0031;
}

.text-laravel {
  color: #FF2C1F;
}

.text-js {
  color: #FFEC3A;
}

.text-css3 {
  color: #2465F1;
}